
article{
    padding: 10px;
    font-size: 1.25em;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    overflow:hidden;
}
article:nth-of-type(even) img{
 float:left;
}
article:nth-of-type(odd) img{
    float: right;
}
article img{
    margin-right: 10px;
}