body{
    text-align: center;
}

.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}
.gridHeader {
    background-color: #dcd6fe;

}

.gridNav {
    background-color: #c6c0ff;

}

.gridMain {
    background-color: #f9f6d2;

}

.gridAside {
    background-color: #d4ffd1;

}

.gridFooter {
    background-color: #ffd1d1;

}
@media screen and (max-width: 785px) {

    .grid {
        display: grid;
        grid-template-areas:
                "header"
                "navigation"
                "main"
                "aside"
                "footer";

    }

    .gridHeader {
        grid-area: header;
        padding: 20px;
    }

    .gridNav {
        grid-area: navigation;
        padding: 20px;
    }

    .gridMain {
        grid-area: main;
        padding: 20px;
    }

    .gridAside {
        grid-area: aside;
        padding: 20px;
    }

    .gridFooter {
        grid-area: footer;
        padding: 20px;
    }
}

@media screen and (min-width: 786px) {
    .grid{
        display: grid;
        grid-template-areas:
    "header header header header header"
    ". navigation main aside ."
    "footer footer footer footer footer";
        grid-template-columns: 5% 10% 1fr 10% 5%;
        grid-template-rows: 1fr min(600px) 1fr;
        min-height: 800px;
    }


    .gridHeader {
        background-color: #dcd6fe;
        grid-area: header;
    }

    .gridNav {
        background-color: #c6c0ff;
        grid-area: navigation;
    }

    .gridMain {
        background-color: #f9f6d2;
        grid-area: main;
    }

    .gridAside {
        background-color: #d4ffd1;
        grid-area: aside;
    }

    .gridFooter {
        background-color: #ffd1d1;
        grid-area: footer;
    }

}