body{
    font-family: Verdana;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}

h1{
    background-color: red;
    font-variant: small-caps;
}

a:hover{
    border: 1px dotted green ;
}

.stippeltjesrand{
    border: solid 1px white;
    border-style: dotted;
}

