article:nth-child(even) img{
        float: left;
}
article:nth-child(odd) img{
        float: right;
}
article{
    padding: 20px;
    background:lightblue;
    border: 1px solid gray;
    overflow:hidden;
}
article img{
    padding-left: 10px;
    padding-right: 10px;
}